{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Création d'une sortie
{% endblock %}


{% block section %}
    {# todo: affiche le formulaire de création de sortie #}
    <h1>Créer une sortie</h1>
{% endblock %}
