{% extends 'base.html.twig' %}

{% block section %}
    <div class="row">
        <h1 class="d-flex justify-content-center align-items-center col-12 mt-1">Ajout d'une ville</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block title %}
    {{ parent() }}Ajout d'une ville
{% endblock %}

