{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Gérer les villes
{% endblock %}

{% block section %}
    <h1 class="text-center">Gérer les villes</h1>

    <turbo-frame id="villes_table">
        {% include 'ville/_table.html.twig' %}
    </turbo-frame>
{% endblock %}

